#deconnexion {
  height: 76vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verif {
  color: var(--bleu);
  font-weight: bold;
  font-size: 1.5em;
}
