/* le main */
main {
  display: flex;
  align-items: center;
  height: 76%;
}

#tarif {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  height: 8vh;
  border: 1.5px solid var(--bleu);
  border-radius: 0.3em;
  box-shadow: 4px 5px 6px 0px #d0d0d0f0;
  margin: 1vh 1vh;
  padding: 1vh 2vw;
  display: flex;
  align-items: center;
}

.border a {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */
}

.logo_img {
  height: 6vh;
}

.inde {
  height: 8vh;
}

.logo_img + p {
  color: black;
  margin-left: 4vh;
}

@media (min-width: 768px) {
  #tarif {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .border {
    width: 25%;
  }
}

@media (max-width: 768px) {
  #tarif {
    flex-direction: column;
  }

  .border {
    width: 80%;
  }
}
